<%= form_for @creditor, :html => { :class => "form-horizontal creditor" } do |f| %>

  <% if @creditor.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@creditor.errors.count, "error") %> prohibited this creditor from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @creditor.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%=f.error_span(:name) %>
  </div>
  <div class="form-group">
    <%= f.label :sum, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :sum, :class => 'form-control' %>
    </div>
    <%=f.error_span(:sum) %>
  </div>
  <div class="form-group">
    <%= f.label :months, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :months, :class => 'form-control' %>
    </div>
    <%=f.error_span(:months) %>
  </div>
  <div class="form-group">
    <%= f.label :rate, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :rate, :class => 'form-control' %>
    </div>
    <%=f.error_span(:rate) %>
  </div>
  <div class="form-group">
    <%= f.label :period, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :period, :class => 'form-control' %>
    </div>
    <%=f.error_span(:period) %>
  </div>
  <div class="form-group">
    <%= f.label :delay_rate, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :delay_rate, :class => 'form-control' %>
    </div>
    <%=f.error_span(:delay_rate) %>
  </div>
  <div class="form-group">
    <%= f.label :created_at, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.date_field :created_at, class: 'form-control', max: Date.today %>
    </div>
    <%=f.error_span(:created_at) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                creditors_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
