<%- model_class = Creditor -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:name) %></th>
      <th><%= model_class.human_attribute_name(:sum) %></th>
      <th><%= model_class.human_attribute_name(:months) %></th>
      <th><%= model_class.human_attribute_name(:rate) %></th>
      <th><%= model_class.human_attribute_name(:period) %></th>
      <th><%= model_class.human_attribute_name(:delay_rate) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%= model_class.human_attribute_name(:rate_of_return) %> %</th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @creditors.each do |creditor| %>
      <tr>
        <td><%= link_to creditor.id, creditor_path(creditor) %></td>
        <td><%= creditor.name %></td>
        <td><%= creditor.sum %></td>
        <td><%= creditor.months %></td>
        <td><%= creditor.rate %></td>
        <td><%= creditor.period %></td>
        <td><%= creditor.delay_rate %></td>
        <td><%=l creditor.created_at %></td>
        <td><%= creditor.rate_of_return %></td>
        <td>
          <%= link_to t('.show', :default => t("helpers.links.show")),
                      creditor_path(creditor), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_creditor_path(creditor), :class => 'btn btn-default btn-xs' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      creditor_path(creditor),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-xs btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_creditor_path,
            :class => 'btn btn-primary' %>
