<%- model_class = Creditor -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @creditor.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sum) %>:</strong></dt>
  <dd><%= @creditor.sum %></dd>
  <dt><strong><%= model_class.human_attribute_name(:months) %>:</strong></dt>
  <dd><%= @creditor.months %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rate) %>:</strong></dt>
  <dd><%= @creditor.rate %></dd>
  <dt><strong><%= model_class.human_attribute_name(:period) %>:</strong></dt>
  <dd><%= @creditor.period %></dd>
  <dt><strong><%= model_class.human_attribute_name(:delay_rate) %>:</strong></dt>
  <dd><%= @creditor.delay_rate %></dd>
  <dt><strong><%= model_class.human_attribute_name(:created_at) %>:</strong></dt>
  <dd><%= @creditor.created_at.to_s(:long) %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              creditors_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_creditor_path(@creditor), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              creditor_path(@creditor),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
<br><br>

<h2>Payments</h2>
<div id="payments">
  <%= render @creditor.payments %>
</div>
<%= render 'payments/new', creditor: @creditor %>
