<h1>Calculator</h1>
<%= form_tag('/', method: :get) do %>
  <div class="field">
    <%= label_tag 'sum', 'Sum ' + Payment::CURRENCY %>
    <%= number_field nil, 'sum', value: params['sum'] %>
  </div>
  <p><%= submit_tag 'Process' %></p>
<% end %>
<% if @expected_receipts %>
<div class="field">
  <span>Expected income: <%= @expected_receipts %> <%= Payment::CURRENCY %></span>
</div>
<% end %>
<% if @historical_receipts %>
<div class="field">
  <span>Historical income: <%= @historical_receipts %> <%= Payment::CURRENCY %></span>
</div>
<% end %>
