<%= form_for([ @creditor, Payment.new ], remote: true) do |form| %>
  <div class="field">
    <%= form.label :payment_amount %>
    <%= form.number_field :amount, id: :payment_amount %>
  </div>
  <div class="field">
    <%= form.label :payment_created_at %>
    <%= form.date_field :created_at, id: :payment_created_at %>
  </div>
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
